
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex: 1;
}

.form-lable {
    margin-left: 50px;
}

.header {
    display: flex; 
    align-items: center; 
    margin: 0;
    background-color: #005eb8;
    color: #ffffff;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.nhs-logo {
height: 50px;
margin-right: 15px; 
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007f3b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #005a2b;
}

.form-container {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 500px;
    margin-top: 20px;
}

.form-header {
    color: #005eb8;
    margin-bottom: 20px;
    text-align: center;
}

.link {
    color: #005eb8;
    text-decoration: none;
    display: block;
}

footer {
    background-color: #005eb8;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    margin-top: 270px;
}

footer p {
    margin: 10px 0;
}
