body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.header {
    display: flex; 
    align-items: center; 
    margin: 0;
    background-color: #005eb8;
    color: #ffffff;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.nhs-logo {
    height: 50px; 
    margin-right: 15px; 
    }


a {
    display: inline;
    background-color: #005eb8 ;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #003d70;
}

.content-row {
    display: flex;
}
.content-row2{
    display: flex;
}
.clear {
    clear: both;
}

.main-content, .sidebar , .leftbar,.main-content2{
    flex: 1; 
    margin-right:0; 
}

.sidebar {
    float: right;
    width: 60%;
    margin-right: 50px;
}

.sidebar p {
    background: #f3f3f3;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
}
.leftbar{
    width: 60%;
}
.leftbar p{
    background: #f3f3f3;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
}
.front{
    float: left;
    width: 65%;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 160px;
    font-size: 30px;
}
.main-content {
    width: 65%;
    padding: 20px;
    box-sizing: border-box;
}
.main-content2{
    padding: 20px;
    margin-left: 0;
    box-sizing: border-box;
}

.content-image {
    width: 300px;
    margin-left: 160px;
}

.container {
    width: 90%;
    max-width: 1200px; 
    margin: 20px auto;
    overflow: hidden; 
}

footer {
    background-color: #005eb8;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 10px 0;
}
